main {
  padding: 0 0 2em 0;
  background-color: #fef6c2;
  display: block;
}

main h2,
main h3,
main h4,
main p,
main div,
main dl {
  padding-left: 1em;
  padding-right: 1em;
}

main ul {
  padding-left: 2em;
}

@media only screen and (min-width: 1024px) {
  main {
    grid-area: main;
  }
}
